<div class="jumbotron mt-4">
    <section class="card">
      <div class="card-body">
        <h1>About</h1>
        <p>Proyecto final de Desarrollo Web desarrollado por Rodrigo Urbina y Diego Valadez. Proyecto hosteado en <a href="https://www.heroku.com/" target="_blank">Heroku</a>.</p>
        <p>Puede revisar el código de la aplicación en el repositorio de <a href="https://github.com/Rodrigo-Urbina/NotesApp" target="_blank">Github</a>.</p>
      </div>
    </section>
</div>