<div class="jumbotron mt-4">
    <section class="card">
      <div class="card-body">
        <span>
          <img style="heigh:300px; width:300px" class="mx-auto d-block logo m-4" src="/images/logo.png" alt="Logo">
        </span>
        <h1>About</h1>
        <p>Final Web Development Project developed in Node js and MongoDB with a server/client architecture. Project hosted in <a href="https://www.heroku.com/" target="_blank">Heroku</a>.</p>
        <p>You may check the app's code in its repository in <a href="https://github.com/Rodrigo-Urbina/NotesApp" target="_blank">Github</a>.</p>
      </div>
    </section>
</div>
