<div class='jumbotron mt-4'>
    <span>
      <img style="heigh:300px; width:300px" class="mx-auto d-block logo m-4" src="/images/logo.png" alt="Logo">
    </span>
    <p class="lead">Bienvenido a tu aplicacion de notas Check It!.</p>
    <hr class="my-4">
    <p>Registra tu información más importante de manera rápida y sencilla. Puedes accesar a tus notas cuando quieras y donde sea.</p>
</div>
