<div class='jumbotron mt-4'>
    <span>
      <img style="heigh:300px; width:300px" class="mx-auto d-block logo m-4" src="/images/logo.png" alt="Logo">
    </span>
    <p class="lead">Welcome to your notes application Check It!</p>
    <hr class="my-4">
    <p>Get your account now and start using our web version of sticky notes without the need of opening another application. Save your
      notes in the easiest and quickest way and keep an eye on all of your pending things to do. Don't let your memory fail you, because
      Check It! will not fail you.</p>
</div>
