<div class='jumbotron mt-4'>
    <h1 class="display-4">Notes App</h1>
    <p class="lead">Bienvenido a tu aplicacion de notas.</p>
    <hr class="my-4">
    <p>Registra tu información más importante de manera rápida y sencilla. Puedes accesar a tus notas cuando quieras y donde sea.</p>
    <a href="https://github.com/Rodrigo-Urbina/NotesApp" class="btn btn-primary btn-lg">GITHUB</a>
</div>
